<div class="bg">
  <div class="max-w-2xl mx-auto px-4 py-8 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-3xl font-extrabold tracking-tight text-white">Popular Games</h2>
    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <ng-container *ngFor="let game of games">
        <div class="p-4 bg-white rounded-md">
          <app-preview [imageUrl]="game.background_image" [rating]="game.rating" [routerUrl]="''+game.id"
            [title]="game.name" [voteCount]="game.ratings_count" [year]="game.released"></app-preview>
        </div>
      </ng-container>
    </div>
  </div>
</div>