<ng-container *ngIf="game">
  <div class="bg-white">
    <div>
      <div class="h-[36rem]">
        <img [src]="game.background_image" alt="Two each of gray, white, and black shirts laying flat."
          class="w-full h-full object-top object-cover">
      </div>
      <div
        class="max-w-2xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-24 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
        <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <div class="flex items-end">
            <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
              {{ game.name }}
            </h1>
            <span class="ml-1 text-base font-normal text-gray-500">({{ game.released }})</span>
            <div class="flex items-center ml-4 text-sm font-normal text-gray-500 space-x-1">
              <span>{{ game.slug }}</span>
            </div>
          </div>
        </div>
        <div class="mt-4 lg:mt-0 lg:row-span-3">
          <h2 class="text-xl font-semibold">Reviews</h2>
          <p class="text font-medium text-gray-900">{{ game.rating }} <span class="text-sm text-gray-500">({{
              game.ratings_count | number }} votes)</span></p>
          <form (ngSubmit)="submitReview(game.id)" [formGroup]="reviewForm" class="my-4">
            <div>
              <label class="block text-sm font-medium text-gray-700" for="review">
                Leave a review
              </label>
              <div class="mt-1">
                <textarea
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                  formControlName="review" id="review" rows="3">
                </textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">
                Brief review about the game
              </p>
            </div>
            <button
              class="mt-4 w-full bg-indigo-600 border border-transparent rounded-md py-2 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              type="submit">
              Submit review
            </button>
          </form>

          <ng-container *ngIf="reviews">
            <div>
              <div class="mt-6">
                <h3 class="sr-only">Reviews</h3>
                <p class="font-medium text-indigo-600 hover:text-indigo-500">{{ reviews.reviews.length }} reviews</p>
              </div>
            </div>
            <div *ngFor="let review of reviews.reviews; let i = index">
              <div [ngClass]="{'border-t': i > 0}" class="py-4">
                <div class="flex items-center space-x-3">
                  <div>
                    <h4 class="text-sm font-medium text-gray-700">Anonymous</h4>
                    <p class="text-gray-500 text-xs">{{ review.createdAt | date: 'mediumDate'}}</p>
                  </div>
                </div>
                <p class="mt-4 text-sm">{{ review.review }}</p>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <div>
            <h3 class="sr-only">Description</h3>
            <div class="space-y-6">
              <p class="text-base text-gray-900">{{ game.name }}</p>
            </div>
          </div>
          <div class="mt-10">
            <div class="flex space-x-8">
              <div class="flex-shrink-0 h-[375px] w-[250px] bg-gray-200 overflow-hidden">
                <img [alt]="game.name" [src]="game.background_image"
                  class="w-full h-full object-cover lg:w-full lg:h-full">
              </div>
              <div>
                <div>
                  <h3 class="text-sm font-medium text-gray-900">Platforms</h3>
                  <div class="mt-4">
                    <ul class="pl-4 list-disc text-sm space-y-2" role="list">
                      <li *ngFor="let platform of game.platforms" class="text-gray-400"><span class="text-gray-600">{{
                          platform.platform.name }}</span></li>
                    </ul>
                  </div>
                </div>
                <div class="mt-8">
                  <h3 class="text-sm font-medium text-gray-900">Genres</h3>
                  <div class="mt-4">
                    <ul class="pl-4 list-disc text-sm space-y-2" role="list">
                      <li *ngFor="let genre of game.genres" class="text-gray-400"><span class="text-gray-600">{{
                          genre.name }}</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>