<div class="h-[93vh] overflow-hidden relative">
  <img src="https://i1.wp.com/overmental.com/wp-content/uploads/2015/08/godzilla-film-2014.jpg?fit=2560%2C1440&ssl=1"
    alt="Welcome to Gaming Reviews" class="w-full h-full object-center object-cover">
  <div class="absolute inset-0 bg-black bg-opacity-50">
    <div class="w-full h-full flex flex-col items-center justify-center">
      <div>
        <h1 class="text-white text-5xl font-black">Welcome to Games Review</h1>
        <p class="mt-6 text-white text-center text-2xl font-medium">Take game reviewing to the next level</p>
        <a routerLink="/games"
          class="mt-8 max-w-fit mx-auto bg-indigo-600 border border-transparent rounded-md py-4 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          type="submit">
          Start reviewing
        </a>
      </div>
    </div>
  </div>
</div>