<a [routerLink]="routerUrl" class="group relative">
  <div
    class="w-full min-h-96 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-96 lg:aspect-none">
    <img [src]="imageUrl" [alt]="title" class="w-full h-full object-cover lg:w-full lg:h-full">
  </div>
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-900 font-semibold">
        <a href="#">
          <span aria-hidden="true" class="absolute inset-0"></span>
          {{ title }}
        </a>
      </h3>
      <p class="mt-1 text-sm text-gray-500">{{ year }}</p>
    </div>
    <div class="flex-shrink-0">
      <p class="text-sm font-medium text-gray-900">
        {{ rating }}
        <span class="text-xs text-gray-500">({{ voteCount }})</span>
      </p>
    </div>
  </div>
</a>